html, body {
  margin: 0;
  padding: 0;
  background: black;
  overscroll-behavior: none;
  overflow: hidden;
  touch-action: none;
}

canvas {
  display: block;
}

/* PC */
@media (min-width: 800px) {
  canvas {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
  }
}

/* iPhone / iPad */
@media (max-width: 799px) {
  canvas {
    width: 100vw;
    height: 50vw; /* 縦向き */
  }
}
