html, body {
  margin: 0;
  padding: 0;
  background: black;
  overscroll-behavior: none;
  overflow: hidden;
  touch-action: none;
}

canvas {
  display: block;
}

/* PC用 */
@media (min-width: 800px) {
  canvas {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
  }
}

/* iPhone / iPad 用 */
@media (max-width: 799px) {
  html, body {
    overscroll-behavior: none;
    overflow: hidden;
    touch-action: none;
  }

  canvas {
    width: 60vw;
    height: 30vw; /* 1200x600 の比率（2:1） */
  }
}
